@media (max-width: 1140px) {
    .card {
        width: calc(50% - 15px);
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .block-footer {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .footer-col {
        margin-bottom: 50px;
    }
    .footer-col:first-child {
        margin-bottom: 0;
    }
}
@media (max-width: 760px) {
    .header-title {
        font-size: 32px;
    }
    .header-subtitle {
        font-size: 12px;
    }
    .portfolio {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .portfolio-header {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .card {
        max-width: 530px;
        width: 100%;
    }
    .card:nth-last-child(2) {
        margin-bottom: 30px;
    }
    .portfolio-cards-wrapper {
        justify-content: center;
    }
    .card-link {
        padding: 15px;
    }
    .card-img {
        margin-bottom: 10px;
    }
    .card-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .card p {
        font-size: 14px;
    }
    .block-copyright-name {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .block-copyright p {
        font-size: 14px;
    }
    .footer-icons {
        font-size: 14px;
    }
    .block-contacts p {
        font-size: 14px;
        margin: 0;
        margin-top: 15px;
    }

    .project {
        padding: 40px 0 60px;
    }
    .project-header {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .project-img {
        margin-bottom: 20px;
    }
    .project-discription {
        margin-bottom: 50px;
    }
    .project-btn {
        padding: 0 10px;
        width: 100%;
        max-width: 320px;
    }
}