* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
.none {
    display: none !important;
}

.header {
    display: flex;
    flex-direction: column;/*выстраиваем в колонку, основная ось у*/
    justify-content: center;/*выравнивание по основной оси*/
    align-items: center; /*выравниваем по поперечной оси*/
    position: relative;

    width: 100%;
    height: 100vh;
    /*background-color: #556983;*/
    /*background-image: url("./../image/header/header.jpg");*/
    background-size: cover;
    background-position: center;


}
.header-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 56px;

    line-height: 130%;
    text-align: center;

    color: #FFFFFF;
}
.header-subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.header-arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 30px;
    left: 50%;
    transform: translate(-50, 0);
}

/*portfolio*/

.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
}
.portfolio-header {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
.portfolio-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0 10px 40px rgba(126, 155, 189, 0.35);
    max-width: 540px;
}
.card:hover {
    transform: translateY(-15px);
    transition: 0.2s ease-in;
}

.card-link {
    display: block;
    padding: 20px;
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease-in;
}
.card-link:hover {
     color: rgb(39, 91,236);
 }
.card:last-child, .card:nth-last-child(2){
    margin-bottom: 0;
}
.card-img {
    margin-bottom: 20px;
}
.card-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}
.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
}

/*footer*/

.footer {
    padding-top: 45px;
    padding-bottom: 130px;
    background: #1E4776;
    color: #FFFFFF;
}
.footer-col {
    max-width: 350px;
    flex-grow: 1;
}
.block-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block-copyright {
    color: #7E9EC9;
    line-height: 1.3;
}
.block-copyright-name {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
}
.block-copyright p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}
.block-social {

}
.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-icons > * {
    margin-right: 30px;
}
.block-social p {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}
.block-contacts {

}
.footer-button {
    display: inline-block;
    height: 50px;
    padding-right: 30px;
    padding-left: 30px;

    border: 3px solid #FFFFFF;
    border-radius: 50px;

    font-size: 16px;
    line-height: 44px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.2s ease-in;
}
.footer-button:hover {
    background-color: #FFFFFF;
    color: #1E4776;
}
.block-contacts p {
    font-size: 16px;
    line-height: 1.3;
    color: #7E9EC9;
}

/*project*/


.project {
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;
}
.project-header {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
    color: #000000;

}
.project-img {
    margin-bottom: 70px;
}
.project-discription {
    margin-right: auto;
    margin-left: auto;
    max-width: 730px;
    margin-bottom: 60px;
}
.project-discription p {
    font-size: 16px;
    line-height: 1.5;
}
.project-btn {
    display: inline-block;
    height: 60px;
    padding-right: 30px;
    padding-left: 30px;

    border: 3px solid #275BEC;
    border-radius: 50px;

    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
    color: #275BEC;
    text-transform: uppercase;
    text-decoration: none;
}
.project-btn:hover {
    background-color: #275BEC;
    color: #FFFFFF;
    transition: all 0.2s ease-in;
}
